{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

<div class="container">
    <h1>{{ article.getTitle() }}</h1>
    <p class="text-secondary">Par <strong>{{ article.getCreatedBy() }}</strong> le {{ article.getCreatedAt()|date("d-m-Y à H:i") }}</p>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4>Accroche</h4>
            <p>{{ article.getLeading()|nl2br }}</p>

            <h4>Descriptif</h4>
            <p>{{ article.getBody()|nl2br }}</p>
        </div>
        <div class="col-md-2"></div>
        <hr>
        <p>
            <a href="../">Retour à la liste</a> | <a class="text-danger" href="../delete/{{ article.getSlug() }}">Supprimer</a>
        </p>
    </div>
</div>
{% endblock %}
