{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

<div class="container">
    <h1>Ajouter un article</h1>

    {% if not form.vars.valid %}
    <div class="alert alert-danger" role="error">
        <ul class="mb-0">
            {% for child in form.children %}
                {%for error in child.vars.errors%}
                    <li>{{error.message}}</li>
                {%endfor%}
            {%endfor%}
        </ul>
    </div>
    {%endif%}

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{ form_start(form) }}
                <div class="mb-3">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}
                </div>
                <div class="mb-3">
                    {{ form_label(form.leading) }}
                    {{ form_widget(form.leading) }}
                </div>
                <div class="mb-3">
                    {{ form_label(form.body) }}
                    {{ form_widget(form.body) }}
                </div>
                <div class="mb-3">
                    {{ form_label(form.createdBy) }}
                    {{ form_widget(form.createdBy) }}
                </div>
                <div class="mb-3">
                    <input class="btn btn-primary" type="submit" value="Soumettre">
                </div>
            {{ form_end(form) }}
        </div>
        <div class="col-md-2"></div>
        <hr>
        <p>
            <a href=".">Retour à la liste</a>
        </p>
    </div>
</div>

{% endblock %}
