{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

<div class="container">
    <h1>Liste des articles</h1>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% if articles is empty %}
            <p class="text-secondary text-center">
                Aucun article pour l'instant.
            </div>
            {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Accroche</th>
                        <th scope="col">Date de création</th>
                        <th scope="col">Auteur</th>
                    </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <th scope="row"><a href="article/{{ article.getSlug() }}">{{ article.getTitle() }}</a></th>
                        <td>{{ article.getLeading() }}</td>
                        <td>{{ article.getCreatedAt()|date("d-m-Y H:i") }}</td>
                        <td>{{ article.getCreatedBy() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
        <div class="col-md-2"></div>
        <hr>
        <a href="creer">Créer un article</a>
    </div>
</div>
{% endblock %}
